.contact-site-content{
    color: black;
    background: #F4F3F3;
}

.contact-site-input {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.contact-site-input input{
    width: 220px;
    padding: 8px;
    border: 1px solid #C4C4C4;
}

.contact-site-form textarea{
    width: 100%;
    height: 134px;
    display: block;
    padding: 10px;
    border: 1px solid #C4C4C4;
    resize: none;
}

.contact-site-summary .cti-title{
    color: #2F80ED;
    font-size: 2.4rem;
    margin: 0;
}
.contact-site-summary .cti-desc{
    color: #555;
    font-size: 1.4rem;
    padding: 20px 0;
    margin: 0;
}

.contact-site-summary .cti-contact-title{
    display: block;
    color: #333;
    font-size: 2.2rem;
    padding-bottom: 20px;
}

.contact-site-summary{padding: 90px 0;}
.contact-site-info ul{padding: 0;}
.contact-site-info li i{
    width: 1rem;
    color: #F2C94C;
    margin-right: 15px;
}

.map-section {
    padding: 90px 0;
}
