.pageheader {
    width: 100%;
}
.pageheader-bg {
    max-width: 100%;
    height: auto;
    display: inline-block;
}

.pageheader .container{position: relative;}

.customer-action {
    position: absolute;
    top: -230px;
}

.customer-action p {
    color: #fff;
    font-size: 1.8rem;
}

.booking-btn {
    display: inline-block;
    margin-top: 40px;
    color: #fff;
    background: #2F80ED;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1.4rem;  
}

.booking-btn:hover{background-color: #F2C94C;}

/* FEEDBACK */
.customer-feedback{padding-bottom: 50px;}
.customer-feedback p{
    text-align: center;
    font-size: 1.4rem;
}
.customer-content{background: #F4F3F3;}
.customer-content .container{
    display: flex;
}

.feedback-item img{
    padding: 20px;
}

.feedback-item{
    padding: 50px 30px 0;
}
.feedback-name{color: #056CB6;}
.feedback{
    color: #555;
    font-style: italic;
}

/* IMAGE */
.customer-img img{
    padding: 0 18px 70px;
}
.customer-img{
    padding-top: 100px;
    padding-bottom: 50px    ;
}

.customer-img span {
    position: absolute;
    padding: 2px 12px 0;
    background-color: #C4C4C4;
    color: #777;
    font-size: 1.4rem;
}


.customer-img .aft {
    right: 18px;
    top: -8px;
}

.customer-img .bef {
    left: 18px;
    top: -8px;
}

.customer-img-item{
    display: inline-block;
    position: relative;
}

/* SERVICE */
.service{background: #F4F3F3;}