@media only screen and (max-width: 600px) {
    .container{width: 100%;}
    .menu-header {display: none;}
    footer {display: none;}
    /* .about-us-total{display: block;} */
    .service-list {display: block;}
    .service-top{display: none;}
    .service{display: none;}

    /* ABOUT US */
    .about-us-total{
        flex-direction: column;
    }
    .about-us-picture {
        width: 100%;
    }
    .about-us-info{
        width: 100%;
        padding: 0;
    }
    /* FEEDBACK */
    .feedback-img-section{
        width: 100%;
    }
    .feedback-img{
        flex-direction: column;
    }
    .feedback-img .customer-img img{
        width: 100%;
        padding: 0;
    }
    .feedback-info{
        margin: auto;
    }
    .aft, .bef{display: none;}

    /* HEADER */
    .f-header{
        margin-left: 3rem;
    }
    .f-header .fb{display: none;}

    .header-info-mobile{
        display: block;
        font-size: 1.5rem;
    }
    .header-info-mobile i{margin-right: 8px;}

    .header-info{display: none;}
}